<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authorizeToken</key>
	<string></string>
	<key>data</key>
	<dict>
		<key>ads</key>
		<array>
			<dict>
				<key>adId</key>
				<string>5504</string>
				<key>image</key>
				<string>http://files.haochang.tv/file/ad/201611/1478080305.jpg</string>
				<key>link</key>
				<dict>
					<key>tagId</key>
					<string>434</string>
					<key>tagName</key>
					<string>唱出你心中的谭咏麟</string>
					<key>target</key>
					<string>app</string>
					<key>url</key>
					<string>beat/tag</string>
				</dict>
				<key>name</key>
				<string>点歌台-伴奏歌单</string>
				<key>position</key>
				<string>beat</string>
				<key>rank</key>
				<string>1</string>
				<key>version</key>
				<string>64</string>
			</dict>
			<dict>
				<key>adId</key>
				<string>5505</string>
				<key>image</key>
				<string>http://files.haochang.tv/file/ad/201610/1477477541.jpg</string>
				<key>link</key>
				<dict>
					<key>tagId</key>
					<string>432</string>
					<key>tagName</key>
					<string>蒙面唱将猜猜猜</string>
					<key>target</key>
					<string>app</string>
					<key>url</key>
					<string>beat/tag</string>
				</dict>
				<key>name</key>
				<string>点歌台-伴奏歌单</string>
				<key>position</key>
				<string>beat</string>
				<key>rank</key>
				<string>2</string>
				<key>version</key>
				<string>64</string>
			</dict>
			<dict>
				<key>adId</key>
				<string>5506</string>
				<key>image</key>
				<string>http://files.haochang.tv/file/ad/201611/1478679458.jpg</string>
				<key>link</key>
				<dict>
					<key>tagId</key>
					<string>437</string>
					<key>tagName</key>
					<string>天冷你就回来</string>
					<key>target</key>
					<string>app</string>
					<key>url</key>
					<string>beat/tag</string>
				</dict>
				<key>name</key>
				<string>点歌台-伴奏歌单</string>
				<key>position</key>
				<string>beat</string>
				<key>rank</key>
				<string>3</string>
				<key>version</key>
				<string>64</string>
			</dict>
			<dict>
				<key>adId</key>
				<string>5507</string>
				<key>image</key>
				<string>http://files.haochang.tv/file/ad/201611/1478679484.jpg</string>
				<key>link</key>
				<dict>
					<key>tagId</key>
					<string>197</string>
					<key>tagName</key>
					<string>每周新歌速递</string>
					<key>target</key>
					<string>app</string>
					<key>url</key>
					<string>beat/tag</string>
				</dict>
				<key>name</key>
				<string>点歌台-伴奏歌单</string>
				<key>position</key>
				<string>beat</string>
				<key>rank</key>
				<string>4</string>
				<key>version</key>
				<string>64</string>
			</dict>
			<dict>
				<key>adId</key>
				<string>5508</string>
				<key>image</key>
				<string>http://files.haochang.tv/file/ad/201611/1478679489.jpg</string>
				<key>link</key>
				<dict>
					<key>tagId</key>
					<string>439</string>
					<key>tagName</key>
					<string>因为爱我存在</string>
					<key>target</key>
					<string>app</string>
					<key>url</key>
					<string>beat/tag</string>
				</dict>
				<key>name</key>
				<string>点歌台-伴奏歌单</string>
				<key>position</key>
				<string>beat</string>
				<key>rank</key>
				<string>5</string>
				<key>version</key>
				<string>64</string>
			</dict>
			<dict>
				<key>adId</key>
				<string>371</string>
				<key>image</key>
				<string>http://files.haochang.tv/file/ad/201602/1455763257.jpg</string>
				<key>link</key>
				<dict>
					<key>tagId</key>
					<string>1</string>
					<key>tagName</key>
					<string>大神带你飞</string>
					<key>target</key>
					<string>app</string>
					<key>url</key>
					<string>chorustag</string>
				</dict>
				<key>name</key>
				<string>合唱伴奏歌单</string>
				<key>position</key>
				<string>chorus</string>
				<key>rank</key>
				<string>1</string>
				<key>version</key>
				<string>4</string>
			</dict>
			<dict>
				<key>adId</key>
				<string>5567</string>
				<key>image</key>
				<string>http://files.haochang.tv/file/ad/201611/1478772142.jpg</string>
				<key>link</key>
				<dict>
					<key>target</key>
					<string>webview</string>
					<key>url</key>
					<string>http://api.haochang.tv/app/event?eventId=202</string>
				</dict>
				<key>name</key>
				<string>内部浏览器跳转</string>
				<key>position</key>
				<string>home</string>
				<key>rank</key>
				<string>1</string>
				<key>version</key>
				<string>590</string>
			</dict>
			<dict>
				<key>adId</key>
				<string>5568</string>
				<key>image</key>
				<string>http://files.haochang.tv/file/ad/201611/1478599039.jpg</string>
				<key>link</key>
				<dict>
					<key>target</key>
					<string>webview</string>
					<key>url</key>
					<string>http://api.haochang.tv/app/event?eventId=201</string>
				</dict>
				<key>name</key>
				<string>内部浏览器跳转</string>
				<key>position</key>
				<string>home</string>
				<key>rank</key>
				<string>2</string>
				<key>version</key>
				<string>590</string>
			</dict>
			<dict>
				<key>adId</key>
				<string>5569</string>
				<key>image</key>
				<string>http://files.haochang.tv/file/ad/201611/1478760418.jpg</string>
				<key>link</key>
				<dict>
					<key>target</key>
					<string>webview</string>
					<key>url</key>
					<string>http://api.haochang.tv/app/event?eventId=156</string>
				</dict>
				<key>name</key>
				<string>内部浏览器跳转</string>
				<key>position</key>
				<string>home</string>
				<key>rank</key>
				<string>3</string>
				<key>version</key>
				<string>590</string>
			</dict>
			<dict>
				<key>adId</key>
				<string>5571</string>
				<key>image</key>
				<string>http://files.haochang.tv/file/ad/201611/1478843631.jpg</string>
				<key>link</key>
				<dict>
					<key>target</key>
					<string>webview</string>
					<key>url</key>
					<string>http://api.haochang.tv/news/09e1f2ea-2328-4a39-bf71-074c1cb85d61</string>
				</dict>
				<key>name</key>
				<string>内部浏览器跳转</string>
				<key>position</key>
				<string>home</string>
				<key>rank</key>
				<string>4</string>
				<key>version</key>
				<string>590</string>
			</dict>
			<dict>
				<key>adId</key>
				<string>5570</string>
				<key>image</key>
				<string>http://files.haochang.tv/file/ad/201611/1478760906.jpg</string>
				<key>link</key>
				<dict>
					<key>target</key>
					<string>webview</string>
					<key>url</key>
					<string>http://api.haochang.tv/news/2f1b2751-0608-4060-a1db-e711d4b9e3de</string>
				</dict>
				<key>name</key>
				<string>内部浏览器跳转</string>
				<key>position</key>
				<string>home</string>
				<key>rank</key>
				<string>5</string>
				<key>version</key>
				<string>590</string>
			</dict>
		</array>
		<key>backgroundImages</key>
		<array/>
		<key>beatDB</key>
		<dict>
			<key>title</key>
			<string>20161109伴奏更新</string>
			<key>version</key>
			<string>61</string>
		</dict>
		<key>device</key>
		<string></string>
		<key>hcProStatus</key>
		<string>0</string>
		<key>newVersion</key>
		<dict>
			<key>changeLog</key>
			<string></string>
			<key>downloadUrl</key>
			<string></string>
			<key>exist</key>
			<string>0</string>
			<key>forceUpgrade</key>
			<string>0</string>
			<key>md5</key>
			<string></string>
			<key>version</key>
			<string></string>
		</dict>
		<key>rankSearch</key>
		<dict>
			<key>filter</key>
			<array>
				<dict>
					<key>groupName</key>
					<string>用户分类</string>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<string>userAll</string>
							<key>name</key>
							<string>全部</string>
						</dict>
						<dict>
							<key>key</key>
							<string>male</string>
							<key>name</key>
							<string>男</string>
						</dict>
						<dict>
							<key>key</key>
							<string>female</string>
							<key>name</key>
							<string>女</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>groupName</key>
					<string>作品分类</string>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<string>songAll</string>
							<key>name</key>
							<string>全部作品</string>
						</dict>
						<dict>
							<key>key</key>
							<string>chorus</string>
							<key>name</key>
							<string>合唱</string>
						</dict>
						<dict>
							<key>key</key>
							<string>nonMv</string>
							<key>name</key>
							<string>非MV独唱</string>
						</dict>
						<dict>
							<key>key</key>
							<string>mv</string>
							<key>name</key>
							<string>MV</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>sort</key>
			<array>
				<dict>
					<key>key</key>
					<string>nationRank</string>
					<key>name</key>
					<string>国榜排名</string>
				</dict>
				<dict>
					<key>key</key>
					<string>click</string>
					<key>name</key>
					<string>点击量</string>
				</dict>
				<dict>
					<key>key</key>
					<string>flower</string>
					<key>name</key>
					<string>鲜花数</string>
				</dict>
				<dict>
					<key>key</key>
					<string>fans</string>
					<key>name</key>
					<string>粉丝数</string>
				</dict>
				<dict>
					<key>key</key>
					<string>comment</string>
					<key>name</key>
					<string>评论数</string>
				</dict>
				<dict>
					<key>key</key>
					<string>share</string>
					<key>name</key>
					<string>分享数</string>
				</dict>
				<dict>
					<key>key</key>
					<string>bag</string>
					<key>name</key>
					<string>收藏数</string>
				</dict>
				<dict>
					<key>key</key>
					<string>download</string>
					<key>name</key>
					<string>下载量</string>
				</dict>
				<dict>
					<key>key</key>
					<string>artScore</string>
					<key>name</key>
					<string>艺术分</string>
				</dict>
				<dict>
					<key>key</key>
					<string>hot</string>
					<key>name</key>
					<string>热度</string>
				</dict>
				<dict>
					<key>key</key>
					<string>distance</string>
					<key>name</key>
					<string>距离</string>
				</dict>
				<dict>
					<key>key</key>
					<string>ranking</string>
					<key>name</key>
					<string>排名升降</string>
				</dict>
			</array>
		</dict>
		<key>reviewStatus</key>
		<string>1</string>
	</dict>
	<key>errno</key>
	<string>0</string>
	<key>error</key>
	<string></string>
	<key>localCacheMatch</key>
	<string>0</string>
	<key>serverTime</key>
	<string>1478846820</string>
</dict>
</plist>
